@keyframes buttonAfterHover {
  0% {
    transform: scaleX(1) scaleY(1);
    opacity: 1; }
  100% {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 87.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 100%; } }
  @media only screen and (min-width: 150em) {
    html {
      font-size: 125%; } }

body {
  box-sizing: border-box;
  background-color: #333; }

li {
  list-style: none; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333; }

.h-1 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #eee;
  font-weight: 100;
  letter-spacing: .7rem; }
  @media only screen and (max-width: 43.75em) {
    .h-1 {
      font-weight: 400;
      font-size: 3rem;
      letter-spacing: .5rem; } }

.h-3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #eee; }

.h-4 {
  text-transform: uppercase;
  color: #f7f7f7;
  font-size: 1.2rem; }

.mb-xs {
  margin-bottom: 1rem !important; }

.mb-s {
  margin-bottom: 2rem !important; }

.mb-m {
  margin-bottom: 3rem !important; }

.mb-l {
  margin-bottom: 4rem !important; }

.mb-xl {
  margin-bottom: 8rem !important; }

.pb-xs {
  padding-bottom: 1rem !important; }

.pb-s {
  padding-bottom: 2rem !important; }

.pb-m {
  padding-bottom: 3rem !important; }

.pb-l {
  padding-bottom: 4rem !important; }

.pb-xl {
  padding-bottom: 8rem !important; }

.ml-xs {
  margin-left: 1rem !important; }

.ml-s {
  margin-left: 2rem !important; }

.ml-m {
  margin-left: 3rem !important; }

.ml-l {
  margin-left: 4rem !important; }

.ml-xl {
  margin-left: 8rem !important; }

.bc-red {
  background-color: #f00 !important; }

.bc-yellow {
  background-color: #fc3 !important;
  color: black !important; }

.bc-green {
  background-color: #6c3 !important;
  color: #333 !important; }

.bc-grey {
  background-color: #333 !important; }

.card {
  display: flex;
  height: 20rem;
  color: #f7f7f7;
  margin-bottom: 4rem; }
  @media only screen and (max-width: 31.25em) {
    .card {
      width: 100%; } }
  .card:nth-of-type(odd) {
    margin-right: 4rem; }
    @media only screen and (max-width: 68.75em) {
      .card:nth-of-type(odd) {
        margin-right: 0; } }
  .card__rotating-part {
    position: relative;
    display: flex;
    perspective: 150rem; }
    @media only screen and (max-width: 31.25em) {
      .card__rotating-part {
        width: 80%; } }
  .card__img-container {
    border-radius: 3px;
    height: 20rem;
    width: 15rem; }
    @media only screen and (max-width: 31.25em) {
      .card__img-container {
        width: 20%; } }
  .card__img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
  .card__img-not-found {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 100;
    background-color: #777;
    display: flex;
    align-items: center;
    text-align: center; }
    .card__img-not-found p {
      display: inline-block;
      width: 100%;
      text-transform: uppercase; }
  .card__front {
    display: flex;
    transition: all 1s;
    background-image: linear-gradient(#5267b7, #303e73);
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 31.25em) {
      .card__front {
        width: 100%; } }
  .card__front-left, .card__front-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 17.5rem;
    font-size: 1.1rem;
    padding-left: 1.5rem; }
    @media only screen and (max-width: 31.25em) {
      .card__front-left, .card__front-right {
        width: 50%; } }
  .card__front-left {
    border-right: 1px solid #515e90;
    padding-right: .5rem; }
    .card__front-left span {
      font-size: 1rem;
      display: inline-block;
      margin-bottom: 1rem; }
  .card__front-right {
    padding: 0 1.5rem; }
  .card__ratings {
    display: flex;
    flex-direction: column;
    align-items: space-between; }
    .card__ratings--top, .card__ratings--middle, .card__ratings--down {
      display: flex;
      justify-content: space-between; }
      .card__ratings--top:not(:last-child), .card__ratings--middle:not(:last-child), .card__ratings--down:not(:last-child) {
        padding-bottom: .7rem;
        border-bottom: 1px solid #999; }
      .card__ratings--top:not(:first-child), .card__ratings--middle:not(:first-child), .card__ratings--down:not(:first-child) {
        padding-top: .7rem; }
  .card__back {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    visibility: hidden;
    transform: rotateX(180deg);
    transition: all 1s;
    background-image: linear-gradient(#303e73, #5267b7);
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 31.25em) {
      .card__back {
        width: 100%; } }
    .card__back p {
      font-size: 1.4rem;
      padding: 0 2rem; }
      @media only screen and (max-width: 31.25em) {
        .card__back p {
          font-size: 1.1rem; } }
  .card__rotating-part:hover .card__back {
    transform: rotateX(0deg);
    visibility: visible; }
  .card__rotating-part:hover .card__front {
    transform: rotateX(-180deg);
    visibility: hidden; }
  .card .btn {
    align-self: center; }

@media only screen and (hover: none) {
  .card {
    height: auto;
    border-radius: 3px; }
    .card__img-container {
      height: auto;
      border-radius: 0; } }
    @media only screen and (hover: none) and (max-width: 31.25em) {
      .card__img-container {
        width: 25%; } }

@media only screen and (hover: none) {
    .card__rotating-part {
      flex-direction: column;
      width: 35rem;
      justify-content: space-between; } }
    @media only screen and (hover: none) and (max-width: 31.25em) {
      .card__rotating-part {
        width: 75%; } }

@media only screen and (hover: none) {
    .card__front {
      border-radius: 0;
      flex: 1;
      padding: 0; }
    .card__front-left, .card__front-right {
      width: 15rem;
      font-size: 1.1rem;
      padding: 0;
      margin: 1rem auto; }
      .card__front-left--container, .card__front-right--container {
        margin: 1rem 0; }
    .card__front-right {
      padding: 0; }
    .card__back {
      flex: 1;
      border-top: 1px solid #515e90;
      position: relative;
      visibility: visible;
      transform: rotateX(0);
      border-radius: 0;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
      .card__back p {
        font-size: 1.1rem;
        padding: 0 1rem; }
      .card__back .btn {
        margin: 1rem 0; }
    .card__rotating-part:hover .card__back {
      transform: rotateX(0deg);
      visibility: visible; }
    .card__rotating-part:hover .card__front {
      transform: rotateX(0deg);
      visibility: visible; } }

.imdb {
  background-color: #f3ce13;
  color: black;
  font-weight: 800;
  display: inline-block;
  width: 4rem;
  line-height: 1;
  padding: .5rem;
  border-radius: .3rem;
  text-align: center; }

.rotten {
  display: flex;
  align-items: center;
  margin-left: -3px; }
  .rotten__icon {
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    z-index: 1;
    transform: translateY(-1px); }
  .rotten p {
    background-color: #ff9999;
    color: black;
    line-height: 1;
    padding: 4px;
    padding-left: 1.5rem;
    margin-left: -1.5rem;
    padding-right: .7rem;
    border-top-right-radius: 1rem;
    border: 1px solid #000; }

.meta {
  margin-left: -1px;
  color: #fff;
  display: inline-block;
  line-height: 1;
  padding: .3rem;
  border-radius: 1rem;
  background-color: #333;
  text-align: center;
  border: 3px solid #fc3; }

.imdb-rating,
.rotten-rating,
.meta-rating {
  text-align: center;
  padding: 2px 1rem;
  border-radius: 3px;
  width: 5rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 3px;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    animation: buttonAfterHover .4s; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(1px); }

.btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  transition: all .3s;
  z-index: -1; }

.btn--primary {
  background-color: #303e73;
  color: #f7f7f7; }
  .btn--primary::after {
    background-color: #303e73; }

.btn--yellow {
  background-color: #fc3;
  color: #333; }
  .btn--yellow::after {
    background-color: #fc3; }

.btn--primary-light {
  background-color: #515e90;
  color: #f7f7f7; }
  .btn--primary-light::after {
    background-color: #515e90; }

.form {
  padding: 4rem 0;
  display: flex;
  position: relative;
  margin: 0 auto; }
  @media only screen and (max-width: 37.5em) {
    .form {
      margin-top: 2rem;
      flex-direction: column;
      align-items: center; } }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rbga(#fff, 0.5);
    border: none;
    border-left: 3px solid transparent;
    display: block;
    transition: all .3s;
    margin: 0; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-left: 3px solid #6c3; }
    .form__input:focus:invalid {
      border-left: 3px solid #f00; }
    .form__input::input-placeholder {
      color: #333;
      transition: all .3s; }
  .form__label {
    transition: all .3s;
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 1.5rem;
    transform: translateY(-50%) translateX(-110%); }
    @media only screen and (max-width: 37.5em) {
      .form__label {
        top: 30%;
        transform: translateY(-200%) translateX(25%); } }
  .form__input:placeholder-shown + .form__label {
    transition: all .3s;
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 1.5rem;
    visibility: hidden;
    opacity: .5;
    transform: translateY(-50%) translateX(25%); }
    @media only screen and (max-width: 37.5em) {
      .form__input:placeholder-shown + .form__label {
        top: 30%; } }
  .form .btn {
    margin-left: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .form .btn {
        margin: 2rem 0 0 0; } }
  .form__error, .form__success, .form__warning {
    padding: .5rem 2rem;
    transition: all .2s;
    margin: 1rem auto;
    max-width: fit-content;
    border-radius: 3px;
    text-align: center;
    font-size: 1.6rem;
    opacity: .7;
    color: #333; }
  .form__error {
    background-color: #f00;
    color: #f7f7f7; }
  .form__success {
    background-color: #6c3; }
  .form__warning {
    background-color: #fc3; }

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center; }
  .lightbox__content {
    position: relative;
    background-color: #f7f7f7;
    animation: fadeIn .3s;
    transition: all .2s;
    display: flex;
    margin: 0 1rem; }
    @media only screen and (max-width: 50em) {
      .lightbox__content {
        flex-direction: column;
        max-height: 100%;
        margin: 1rem 0;
        color: #f7f7f7;
        background-color: #333;
        position: relative; } }
  .lightbox__close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 1;
    font-size: 2.5rem;
    top: 0;
    right: 0;
    z-index: 100; }
    .lightbox__close-btn:hover {
      color: #515e90;
      cursor: pointer; }
  .lightbox__left {
    background-color: #999; }
    @media only screen and (max-width: 50em) {
      .lightbox__left {
        position: absolute;
        background-color: #333;
        top: 0;
        bottom: 0;
        width: 100%;
        opacity: .2;
        z-index: 1;
        border: 0.5rem solid #f7f7f7; } }
  .lightbox__img-container {
    height: 100%;
    border: 0.5rem solid #f7f7f7;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .lightbox__img-container {
        border: 0;
        justify-content: center; } }
  .lightbox__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; }
    @media only screen and (max-width: 50em) {
      .lightbox__img {
        width: 100%;
        height: 100%; } }
  .lightbox__right {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #999; }
    @media only screen and (max-width: 50em) {
      .lightbox__right {
        z-index: 5; } }
  .lightbox__details {
    display: flex;
    margin-bottom: 3rem; }
    .lightbox__details--right {
      padding-left: 1rem; }

.spinner {
  position: absolute;
  background-color: transparent;
  position: relative;
  display: block;
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border-bottom: 0.5rem solid #f7f7f7;
  border-right: 0.5rem solid #f7f7f7;
  animation: rotate 0.75s infinite cubic-bezier(1, 1, 1, 1); }
  .spinner::before {
    content: "";
    position: absolute;
    background-color: transparent;
    display: block;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border-right: 0.5rem solid #f7f7f7;
    border-bottom: 0.5rem solid #f7f7f7;
    animation: rotate 1s infinite cubic-bezier(1, 1, 1, 1); }
  .spinner::after {
    content: "";
    position: absolute;
    background-color: transparent;
    display: block;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border-top: 0.5rem solid #f7f7f7;
    animation: rotate 0.5s infinite cubic-bezier(1, 1, 1, 1); }

.footer {
  width: 95vw;
  margin: 0 auto;
  background-color: #b38600;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 12rem; }
  @media only screen and (max-width: 50em) {
    .footer {
      width: 100%; } }
  .footer__left, .footer__right {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-weight: 600; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #303e73;
    font-size: 1.6rem;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
    padding-left: .5rem;
    font-weight: 700; }
  .footer__link:hover, .footer__link:active {
    color: #515e90;
    font-weight: 700;
    transform: translateY(-3px); }

.header__title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: 41rem; }
  @media only screen and (max-width: 43.75em) {
    .header__title {
      width: 32rem; } }

.header__text {
  color: #eee;
  font-size: 1.4rem; }

.header__container {
  width: 95vw;
  margin: 0 auto 4rem auto;
  background-color: #b38600;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 50em) {
    .header__container {
      width: 100%; } }

#movie-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 50rem; }
  @media only screen and (max-width: 68.75em) {
    #movie-gallery {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; } }
