// COLORS
$primary-color: #303e73;
$light-primary-color: #515e90;
$dark-primary-color: #07123a;

$light-grey-1: #eee;
$light-grey-2: #f7f7f7;

$dark-grey-1: #999;
$dark-grey-2: #777;
$dark-grey-3: #333;

$yellow: #fc3;
$red: #f00;
$green: #6c3;

// FONT
$normal-font-size: 1.6rem;

// MEDIA QUERIES
$screen-xxxl: 150em;      // 2400px
$screen-xxl: 112.5em;     // 1800px
$screen-xl: 87.5em;       // 1400px
$screen-l: 68.75em;       // 1100px
$screen-m: 50em;          // 800px
$screen-s: 43.75em;       // 700px
$screen-xs: 37.5em;       // 600px
$screen-xxs: 31.25em;     // 500px