.form {
  padding: 4rem 0;
  display: flex;

  position: relative;

  margin: 0 auto;

  @media only screen and (max-width: $screen-xs){
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rbga(#fff, .5);
    border: none;
    border-left: 3px solid transparent;
    display: block;
    transition: all .3s;
    margin: 0;
  
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(#000, .1);
      border-left: 3px solid $green;
    }

    &:focus:invalid {
      border-left: 3px solid $red;
    }

    &::input-placeholder {
      color: $dark-grey-3;
      transition: all .3s;

    }

  }

  &__label {
    transition: all .3s;
    position: absolute;
    top: 50%;
    left: 0;
    
    font-size: 1.5rem;

    transform: translateY(-50%) translateX(-110%);

    @media only screen and (max-width: $screen-xs){
      top: 30%;
      /////
      transform: translateY(-200%) translateX(25%);
    }


  }

  &__input:placeholder-shown + &__label {
    transition: all .3s;
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 1.5rem;
    visibility: hidden;

    opacity: .5;

    transform: translateY(-50%) translateX(25%);

    @media only screen and (max-width: $screen-xs){
      top: 30%;
    }
  }

  .btn {
    margin-left: 2rem;

    @media only screen and (max-width: $screen-xs){
      margin: 2rem 0 0 0;
    }
  }

  // Error and success
  &__error,
  &__success,
  &__warning {
    padding: .5rem 2rem;
    transition: all .2s;
    margin: -3rem auto 1rem auto;
    max-width: fit-content;
    border-radius: 3px;
    text-align: center;
    font-size: $normal-font-size;
    opacity: .7;

    color: $dark-grey-3;
  }

  &__error {
    background-color: $red;
    color: $light-grey-2;
  }

  &__success{
    background-color: $green;
  }

  &__warning {
    background-color: $yellow;
  }
}