.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(#000, .6);

  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background-color: $light-grey-2;

    display: flex;

    margin: 0 1rem;
  }

  //LEFT SIDE
  &__left {
    background-color: $dark-grey-1;
  }

  &__img-container {
    height: 100%;
    border: .5rem solid $light-grey-2;

    display: flex;
    align-items: center;
  }

  &__img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }


  // RIGHT SIDE
  &__right {
    font-size: 1.3rem;
    font-weight: 600;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-left: 1px solid $dark-grey-1;

  }

  &__details {
    display: flex;
    &--left{

    }

    &--right{
      padding-left: 1rem;

    }

  }


}