.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(#000, .6);

  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    position: relative;
    background-color: $light-grey-2;
    animation: fadeIn .3s;
    transition: all .2s;

    display: flex;

    margin: 0 1rem;

    @media only screen and (max-width: $screen-m){
      flex-direction: column;
      max-height: 100%;
      margin: 1rem 0;

      color: $light-grey-2;

      background-color: $dark-grey-3;

      position: relative;

    }
  }

  &__close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 1;
    font-size: 2.5rem;
    top: 0;
    right: 0;

    &:hover {
      color: $light-primary-color;
      cursor: pointer;
    }
  }

  //LEFT SIDE
  &__left {
    background-color: $dark-grey-1;
    @media only screen and (max-width: $screen-m){

      position: absolute;
      background-color: $dark-grey-3;

      top:0; bottom: 0;
      width: 100%;

      opacity: .2;

      z-index: 1;

      border: .5rem solid $light-grey-2;
    }
  }

  &__img-container {
    height: 100%;
    border: .5rem solid $light-grey-2;

    display: flex;
    align-items: center;

    @media only screen and (max-width: $screen-m){
      border: 0;
      justify-content: center;
    }
  }

  &__img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;

    @media only screen and (max-width: $screen-m){
      width: 100%;
      height: 100%;
    }
  }


  // RIGHT SIDE
  &__right {
    font-size: 1.3rem;
    font-weight: 600;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-left: 1px solid $dark-grey-1;

    @media only screen and (max-width: $screen-m){
      // position: relative;
      z-index: 5;
    }

  }

  &__details {
    display: flex;
    &--left{

    }

    &--right{
      padding-left: 1rem;

    }

  }

}