.imdb{
  background-color: #f3ce13;
  color: black;
  font-weight: 800;
  display: inline-block;
  width: 4rem;
  line-height: 1;
  padding: .5rem;
  border-radius: .3rem;
  text-align: center;
}

.rotten{
  display: flex;
  align-items: center;
  margin-left: -3px;

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    z-index: 1;
    transform: translateY(-1px);
  }
  
  p {
    background-color: lighten($red, 30%);
    color: black;
    line-height: 1;
    padding: 4px;
    padding-left: 1.5rem;
    margin-left: -1.5rem;
    padding-right: .7rem;
    border-top-right-radius: 1rem;
    border: 1px solid #000;
  }
}

.meta{
  margin-left: -1px;
  color: #fff;
  display: inline-block;
  line-height: 1;
  padding: .3rem;
  border-radius: 1rem;
  background-color: $dark-grey-3;
  text-align: center;
  border: 3px solid $yellow;
}

.imdb-rating,
.rotten-rating,
.meta-rating {
  text-align: center;
  padding: 2px 1rem;
  border-radius: 3px;
  width: 5rem;
}