body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    // font-size: 16px;
    line-height: 1.7;
    color: $dark-grey-3;
}
.h-1 {
  font-size: 4rem;
  text-transform: uppercase;
  color: $light-grey-1;
  font-weight: 100; 
  letter-spacing: .7rem;

  @media only screen and (max-width: $screen-s){
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: .5rem;
  }
}
.h-3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: $light-grey-1;
}

.h-4 {
  text-transform: uppercase;
  color: $light-grey-2;

  font-size: 1.2rem;
}
